@{
    ViewData["Title"] = "Informacje o stronie";
}
<h1>@ViewData["Title"]</h1>


<div class="w-75">
    <div class="text-left">
        <p>
            Strona została stworzona w ramach nauki pracy z .NET Framework jak i w ramach projektu z przedmiotu
            Architektury i Technologie Systemów Internetowych.
        </p>
        <p>
            Aplikacja jest internetowym sklepem o losowo dobranej tematyce kamieniarskiej.
            <br />Posiada wbudowany mechanizm tworzenia użytkowników w raz z rolami (klient i administrator) oraz zarządzania kontem.
            Zawiera również funkcjonalność wysyłania maili (chociażby potwierdzania zakupów), jednak otrzymanie wiadomości ściśle związane jest z serwerem pocztowym klienta.
            Maile wysyłane są przy użyciu poczty ProtonMail i zapewne wylądują w spamie :).
        </p>
        <p class="text-info">
            Serwis posiada utworzone uprzednio konto administratora. Zalogowanie się jako administrator odblokowuje pewne funkcjonalności widoczne w pasku nawigacyjnym.
            Sprawdzono dostępność serwisy w popularnych przeglądarkach jak i urządzeniu mobilnym.
        </p>
        <p class="text-danger">
            Login: admin@admin.com
            <br />
            Hasło: Admin1234%
        </p>
    </div>
    <br />
    <div class="text-left">
        Wykorzystano następujące narzędzia:
        <ul>
            <li>
                ASP.NET FRAMEWORK 5
            </li>
            <li>
                BOOTSTRAP 5
            </li>
        </ul>
    </div>

    <div class="text-left">
        W ramach techologii dodatkowych użyto:
        <ul>
            <li>
                Ciasteczka - mechanizm sesji
            </li>
            <li>
                Bazę danych (MSSQL)
            </li>
        </ul>
    </div>
</div>



