<div class="text-center">
    <h1 class="text-info">Potwierdzenie zlecenia</h1>

    <p>Otrzymaliśmy Twoje zlecenie zakupu. Ktoś z naszego zespołu wkrótce się z Tobą skontaktuje!</p>

    <img src="/images/patio.jpg" width="80%"/>
</div>